<div class="list-group">
    <a href="" class="list-group-item list-group-item-action flex-column align-items-start active">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Home</h5>
      </div>
      <p class="mb-1">List of views with short descriptions</p>
    </a>
    <a href="calculator" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Calculator</h5>
      </div>
      <p class="mb-1">Calculator with basic functions</p>
    </a>
    <a href="texteditor" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Text editor</h5>
      </div>
      <p class="mb-1">Text editor with reverse, capitalize and lower-case functions</p>
    </a>
    <a href="weather" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Weather</h5>
        </div>
        <p class="mb-1">Show todays weather</p>
      </a>
  </div>